html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: #444;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container{
	width: 700px;
	margin: 0 auto;
	padding: 0 1em;
}

.border{
	border: 2px solid orange;
}

.spacing{
	border-top: 0;
	padding: 3em 0;
}

hr{
	border: 1px solid orange;
	width: 75%;
	margin: 2em auto 0 auto; 
}

h1{
	margin: 0;
	margin-top: -15px;
	padding: 0;
	font-size: 2.75em;
}

h2{
	padding-left: 2em;
	margin: 0;
	margin-bottom: 1em;
}

.smile-img, .logo-img{
	text-align: center;
	display: inline-block;
	height: 100px;
	margin: 0;
	padding: 0;
}

.smile-img{
	width: 20%;
	float: left;
	border-right: 0;
}

.smile-img img{
	height: 75px;
	margin-top: 10px;
}

.logo-img{
	width: 80%;
	vertical-align: bottom;
}

.logo-img img{
	height: 50px;
}

.inputs{
	text-align: center;
}

.inputs input{
	padding: .75em;
	margin: .5em;
}

.display{
	padding: 3em 1em;
}

.display p{
	line-height: 2em;
}

.gender{
	text-align: center;
	margin: 1em 0;
}

.errors{
	color: red;
	text-align: center;
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
}

input.submitBtn, button.submitBtn{
	display: block;
	margin: 2em auto 0 auto;
}

/*******ANIMATIONS*******/
.userInput{
	-webkit-transition: all .5s linear ;
	transition: all .5s linear;
}

.userInput.ng-hide-add,
.userInput.ng-hide-remove {
  display: block !important;
}

.userInput.ng-hide-remove,
.userInput.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}

.userInput.ng-hide-remove.ng-hide-remove-active,
.userInput.ng-hide-add {
  opacity: 1;
}

.display{
	-webkit-transition: all .5s linear .6s;
	transition: all .5s linear .6s;
}

.display.ng-hide-add,
.display.ng-hide-remove {
  display: block !important;
}

.display.ng-hide-remove,
.display.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  -webkit-transition: none;
	transition: none;
}

.display.ng-hide-remove.ng-hide-remove-active,
.display.ng-hide-add {
  opacity: 1;
  -webkit-transition: all .5s linear .6s;
	transition: all .5s linear .6s;
}

.errors.ng-hide-add,
.errors.ng-hide-remove {
  display: block !important;
}

.errors.ng-hide-remove,
.errors.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  margin-top: 150px;
}

.errors.ng-hide-remove.ng-hide-remove-active,
.errors.ng-hide-add {
  opacity: 1;
  margin-top: 0;
}

.error{
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
	display: block;
}

.error.ng-enter,
.error.ng-leave.ng-leave-active{
	max-height: 0;
	opacity: 0;
}

.error.ng-leave,
.error.ng-enter.ng-enter-active{
	max-height: 1em;
	opacity: 1;
}


/****************MEDIA QUERIES*********/

@media screen and (max-width: 725px){
	.container{
		width: 95%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 500px){
	.smile-img img{
	height: 60px;
	margin-top: 15px;
	}

	h1{
		font-size: 2em;
		margin-top: -10px;
	}
	h2{
		padding-left: 2%;
	}
}	

@media screen and (max-width: 400px){
	.smile-img{
		display: none;
	}
	.logo-img{
		width: 100%;
	}
}

