<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>NgMadLibs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <div class="container" ng-controller="myCtrl">
    <header class="mainHdr">
      <div class="smile-img border">
        <img src="imgs/smiley.png" alt="smiley cartoon face"/>
      </div>
      <div class="logo-img border">
        <img src="imgs/logo.png" alt="ngMadLibs logo"/>
        <h1>Automate This!</h1>
      </div>
    </header>

    <section class="userInput border spacing">
      <h2>Provide the following words:</h2>
      <div class="inputs">
        <input ng-model="inputs.femaleName" placeholder="Female Name">
        <input ng-model="inputs.jobTitle" placeholder="Job Title">
        <input ng-model="inputs.tediousTask" placeholder="Tedious Task">
        <input ng-model="inputs.dirtyTask" placeholder="Dirty Task">
        <input ng-model="inputs.celebrity" placeholder="Celebrity">
        <input ng-model="inputs.uselessSkill" placeholder="Useless Skill">
        <input ng-model="inputs.adjective" placeholder="Adjective">
        <input ng-model="inputs.obnoxiuousCelebrity" placeholder="Obnoxiuous Celebrity">
        <input ng-model="inputs.hugeNumber" placeholder="Huge Number">
      </div>
    </section>

    <section class="display border spacing">
      <p>
        <strong>{{inputs.femaleName}}</strong> was a <strong>{{inputs.jobTitle}}</strong> who loved technology. Although she loved parts of her job, she absolutely hated <strong>{{inputs.tediousTask}}</strong> and <strong>{{inputs.dirtyTask}}</strong>. So, <strong>{{inputs.femaleName}}</strong> met with her life mentor <strong>{{inputs.celebrity}}</strong> who told her to learn how to <strong>{{inputs.uselessSkill}}</strong> with Thinkful. Thinkful didn't offer a course on <strong>{{inputs.uselessSkill}}</strong> so she studied programming instead.
      </p> 
      <p>
        What a great decision! With her new skills, <strong>{{inputs.femaleName}}</strong> built a(n) <strong>{{inputs.adjective}}</strong> robot named <strong>{{inputs.obnoxiuousCelebrity}}</strong> that not only loved <strong>{{inputs.dirtyTask}}</strong> but did it <strong>{{inputs.hugeNumber}}</strong> times faster.
      </p> 
    </section>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>