<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>NgMadLibs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <div class="container" ng-controller="myCtrl">
    <header class="mainHdr">
      <div class="smile-img border">
        <img src="imgs/smiley.png" alt="smiley cartoon face"/>
      </div>
      <div class="logo-img border">
        <img src="imgs/logo.png" alt="ngMadLibs logo"/>
        <h1>Automate This!</h1>
      </div>
    </header>

    <section ng-show="!formValid" class="userInput border spacing">
      <h2>Provide the following words:</h2>
      <form action="" class="gender">
        <input ng-model="gender" ng-click="heShe = 'he'; hisHer = 'his'" type="radio" name="gender" value="male"> Male
        <input ng-model="gender" ng-click="heShe = 'she'; hisHer = 'her'" type="radio" name="gender" value="female"> Female
      </form>
      
      <div class="inputs">
        <form name="userForm" ng-submit="submit()" novalidate>
          <input type="text" required name="name" ng-model="inputs.name" placeholder="Name">
          <input type="text" required name="jobTitle" ng-model="inputs.jobTitle" placeholder="Job Title">
          <input type="text" required name="tediousTask" ng-model="inputs.tediousTask" placeholder="Tedious Task">
          <input type="text" required name="dirtyTask" ng-model="inputs.dirtyTask" placeholder="Dirty Task">
          <input type="text" required name="celebrity" ng-model="inputs.celebrity" placeholder="Celebrity">
          <input type="text" required name="uselessSkill" ng-model="inputs.uselessSkill" placeholder="Useless Skill">
          <input type="text" required name="adjective" ng-model="inputs.adjective" placeholder="Adjective">
          <input type="text" required name="obnoxiuousCelebrity" ng-model="inputs.obnoxiuousCelebrity" placeholder="Obnoxiuous Celebrity">
          <input type="number" required name="hugeNumber" ng-model="inputs.hugeNumber" placeholder="Huge Number">
          <hr/>
          <input type="submit" class="submitBtn" value="Generate My Mad Lib"/>
        </form>
      </div>

      <div ng-show="userForm.$submitted" class="errors">
        <p ng-if="userForm.$submitted" ng-messages="userForm.name.$error">
          <span class="error" ng-message="required">Please enter a name!</span>
        </p>
        <p ng-if="userForm.$submitted" ng-messages="userForm.jobTitle.$error">
          <span class="error" ng-message="required">Please enter a job title!</span>
        </p>
        <p ng-if="userForm.$submitted" ng-messages="userForm.tediousTask.$error">
          <span class="error" ng-message="required">Please enter a tedious task!</span>
        </p>
        <p ng-if="userForm.$submitted" ng-messages="userForm.dirtyTask.$error">
          <span class="error" ng-message="required">Please enter a dirty task!</span>
        </p>
        <p ng-if="userForm.$submitted" ng-messages="userForm.celebrity.$error">
          <span class="error" ng-message="required">Please enter a celebrity name!</span>
        </p>
        <p ng-if="userForm.$submitted" ng-messages="userForm.uselessSkill.$error">
          <span class="error" ng-message="required">Please enter a useless skill!</span>
        </p>
        <p ng-if="userForm.$submitted" ng-messages="userForm.adjective.$error">
          <span class="error" ng-message="required">Please enter an adjective!</span>
        </p>
        <p ng-if="userForm.$submitted" ng-messages="userForm.obnoxiuousCelebrity.$error">
          <span class="error" ng-message="required">Please enter the name of an obnoxious celebrity!</span>
        </p>
        <p ng-if="userForm.$submitted" ng-messages="userForm.hugeNumber.$error">
          <span class="error" ng-message="required">Please choose a huge number!</span>
        </p>
      </div>
    </section>

    <section ng-show="formValid" class="display border spacing">
      <p>
        <strong>{{inputs.name}}</strong> was a <strong>{{inputs.jobTitle}}</strong> who loved technology. Although {{heShe}} loved parts of {{hisHer}} job, {{heShe}} absolutely hated <strong>{{inputs.tediousTask}}</strong> and <strong>{{inputs.dirtyTask}}</strong>. So, <strong>{{inputs.name}}</strong> met with {{hisHer}} life mentor <strong>{{inputs.celebrity}}</strong> who told {{hisHer}} to learn how to <strong>{{inputs.uselessSkill}}</strong> with Thinkful. Thinkful didn't offer a course on <strong>{{inputs.uselessSkill}}</strong> so {{heShe}} studied programming instead.
      </p> 
      <p>
        What a great decision! With {{hisHer}} new skills, <strong>{{inputs.name}}</strong> built a(n) <strong>{{inputs.adjective}}</strong> robot named <strong>{{inputs.obnoxiuousCelebrity}}</strong> that not only loved <strong>{{inputs.dirtyTask}}</strong> but did it <strong>{{inputs.hugeNumber}}</strong> times faster.
      </p>
      <hr/>
      <button class="submitBtn" ng-click="reset(); userForm.$setPristine();">Reset</button>
    </section>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>